<h1>Edit Laptop Status</h1>

<% form_for ([:admin, @laptop_status]) do |f| %>
  <%= f.error_messages %>

  <p><%= label_tag :name, "Name"%> <%= f.text_field :name %></p>
  <p><%= label_tag :severity, "Severity"%>
	 <%= f.select(:severity, options_for_select( @laptop_status.severity_options)) %>
  </p>
  <p>
    <%= f.submit "Change" %>
  </p>
<% end %>