<table>
	<tr>
		<th>Name</th>
		<th>National ID</th>
		<th>Phone</th>
		<th>Date of Birth</th>
		<th>Laptop</th>
	</tr>
	<tbody>
		<% for teacher in teachers %>
			<tr>
				<td><%= teacher.name %></td>
				<td><%= teacher.national_id %></td>
				<td><%= teacher.phone %></td>
				<td><%= teacher.date_of_birth %></td>
				<td><%= teacher.laptop.serial_number unless teacher.laptop==nil  %></td>
			</tr>
		<% end %>
	</tbody>
</table>
