<p><em>Name:</em> <%= school.name %> </p>
<p><em>District:</em> <%= school.sector.district.name %> </p>
<p><em>Sector:</em> <%= school.sector.name %> </p>	
<p><em>Longitude:</em> <%= school.longitude %> </p>
<p><em>Latitude:</em>  <%= school.latitude %> </p>	
<p><em>Declared Number of students:</em>  <%= school.number_of_students %> </p>