<h1>New School</h1>

<% form_for(@school) do |f| %>
  <%= f.error_messages %>

  <p><%= label_tag :name, "Name of school"%> <%= f.text_field :name %></p>
  <p><%= label_tag :latitude, "Latitude"%> <%= f.text_field :latitude %></p>
  <p><%= label_tag :longitude, "longitude"%> <%= f.text_field :longitude %></p>
  
  <p><%= label_tag :sector, "Sector"%> <%= text_field_with_auto_complete :school, :sector_name, :autocomplete => 'off' %></p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', schools_path %>