<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Documents: <%= controller.action_name %></title>

	<%= stylesheet_link_tag 'main' %>
	<%= stylesheet_link_tag 'layout' %>
	<%= stylesheet_link_tag 'boxes' %>
	<%= stylesheet_link_tag 'table' %>
	<%= stylesheet_link_tag 'scaffold' %>
	<%# we need to include prototype, etc... %>
	<%= javascript_include_tag :all, :cache => true %>
</head>
<body>
	<!-- Container -->
	<div id="container">
	    <!-- Header -->
	    <div id="header">
			<%= image_tag "xos.png", :id=>"xos-logo" %>
	        <div id="branding">
				<h2>OLPC Rwanda</h2>
				<h1 id="site-name">Inventory System</h1>
	        </div>
			
			<div id="primary_menu">
				<div id="primary_menu_inner">
					<div id="username">Juliano</div>
					<ul>
						<li><%= link_to "Dashboard", :controller=>"/dashboard" %></li>
						<li><%= link_to "Schools", :controller=>"/schools" %></li>
						<li><%= link_to "Laptops", :controller=>"/laptops" %></li>
						<li><%= link_to "Admin", :controller=>"/admin" %></li>
						<li><%= link_to "Country", :controller=>"/country" %></li>
					</ul>
				</div>
			</div>
	
	    </div>
	    <!-- END Header -->


	    <!-- Content -->
	    <div id="content" class="colM">  
    		<%= yield  %>
		</div>
</body>
</html>